In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("sales.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     100 non-null    object
 1   Product  100 non-null    object
 2   Sales    100 non-null    int64
dtypes: int64(1), object(2)
memory usage: 2.5+ KB

In [5]:
df.isnull().sum()

Date       0
Product    0
Sales      0
dtype: int64

In [6]:
df.dtypes

Date       object
Product    object
Sales       int64
dtype: object

In [7]:
df["Sales"].sum()

53844

In [8]:
df.groupby(by = "Product").count()

           Date  Sales
Product
Product A    37     37
Product B    39     39
Product C    24     24