In [1]:
data = [(1,"a",30),(2,"b",32)]

In [2]:
from pyspark.sql.types import *

In [5]:
userschema = StructType([StructField("id",IntegerType()),
                         StructField("name",StringType()),
                         StructField("age",IntegerType())
                        ])

In [16]:
import pyspark
import findspark

In [18]:
from pyspark.sql import SparkSession

In [20]:
spark = SparkSession.builder.appName("example").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/22 04:23:25 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [27]:
df = spark.createDataFrame(data,userschema)

In [28]:
df.show()

+---+----+---+
| id|name|age|
+---+----+---+
|  1|   a| 30|
|  2|   b| 32|
+---+----+---+

In [29]:
data2 = [
    (1, "Alice", ["Reading", "Hiking"]),
    (2, "Bob", ["Swimming", "Gardening", "Painting"]),
    (3, "Charlie", ["Cooking"]),
    (4, "David", ["Photography", "Skiing", "Cooking"])
]

In [30]:
userschema2 = StructType([StructField("id",IntegerType()),
                         StructField("name",StringType()),
                         StructField("hobby",ArrayType(StringType()))
                        ])

In [31]:
df2 = spark.createDataFrame(data2,userschema2)

In [32]:
df2.show()

+---+-------+--------------------+
| id|   name|               hobby|
+---+-------+--------------------+
|  1|  Alice|   [Reading, Hiking]|
|  2|    Bob|[Swimming, Garden...|
|  3|Charlie|           [Cooking]|
|  4|  David|[Photography, Ski...|
+---+-------+--------------------+

In [34]:
from pyspark.sql.functions import *

In [36]:
df2.select("id","name",explode("Hobby")).show()

+---+-------+-----------+
| id|   name|        col|
+---+-------+-----------+
|  1|  Alice|    Reading|
|  1|  Alice|     Hiking|
|  2|    Bob|   Swimming|
|  2|    Bob|  Gardening|
|  2|    Bob|   Painting|
|  3|Charlie|    Cooking|
|  4|  David|Photography|
|  4|  David|     Skiing|
|  4|  David|    Cooking|
+---+-------+-----------+

In [39]:
df2.withColumn("newhobby",explode("Hobby")).show()

+---+-------+--------------------+-----------+
| id|   name|               hobby|   newhobby|
+---+-------+--------------------+-----------+
|  1|  Alice|   [Reading, Hiking]|    Reading|
|  1|  Alice|   [Reading, Hiking]|     Hiking|
|  2|    Bob|[Swimming, Garden...|   Swimming|
|  2|    Bob|[Swimming, Garden...|  Gardening|
|  2|    Bob|[Swimming, Garden...|   Painting|
|  3|Charlie|           [Cooking]|    Cooking|
|  4|  David|[Photography, Ski...|Photography|
|  4|  David|[Photography, Ski...|     Skiing|
|  4|  David|[Photography, Ski...|    Cooking|
+---+-------+--------------------+-----------+

In [40]:
df2.withColumn("Hobby",explode("Hobby")).show()

+---+-------+-----------+
| id|   name|      Hobby|
+---+-------+-----------+
|  1|  Alice|    Reading|
|  1|  Alice|     Hiking|
|  2|    Bob|   Swimming|
|  2|    Bob|  Gardening|
|  2|    Bob|   Painting|
|  3|Charlie|    Cooking|
|  4|  David|Photography|
|  4|  David|     Skiing|
|  4|  David|    Cooking|
+---+-------+-----------+

In [41]:
# with columns adds a new column or replaces it if same name

In [57]:
df3=df2\
.withColumn("Hobby",explode("Hobby"))\
.withColumn("ingestion_date",current_timestamp())#try truncate=True ans see what happens