In [1]:
import findspark

In [2]:
findspark.init()

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("RDDExample").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/21 08:36:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/09/21 08:36:14 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [6]:
df=spark.createDataFrame([(1,2,3)])

In [7]:
df.show()

+---+---+---+
| _1| _2| _3|
+---+---+---+
|  1|  2|  3|
+---+---+---+

In [8]:
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row

df = spark.createDataFrame([
    Row(a=1, b=2., c='string1', d=date(2000, 1, 1), e=datetime(2000, 1, 1, 12, 0)),
    Row(a=2, b=3., c='string2', d=date(2000, 2, 1), e=datetime(2000, 1, 2, 12, 0)),
    Row(a=4, b=5., c='string3', d=date(2000, 3, 1), e=datetime(2000, 1, 3, 12, 0))
])
df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  4|5.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [10]:
schema='a long, b double, c string, d date, e timestamp'

In [13]:
data = [
    (1, 2., 'string1', date(2000, 1, 1), datetime(2000, 1, 1, 12, 0)),
    (2, 3., 'string2', date(2000, 2, 1), datetime(2000, 1, 2, 12, 0)),
    (3, 4., 'string3', date(2000, 3, 1), datetime(2000, 1, 3, 12, 0))
]

In [14]:
df1=spark.createDataFrame(data,schema)

In [15]:
df1.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3|4.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [18]:
data2=[(1,'a','z',777700,'India'),(2,'b','y',9890,'India')]
schema2="id int, name string, last_name string, mo int, country string"
df2=spark.createDataFrame(data2,schema2)

In [19]:
df2.show()

+---+----+---------+------+-------+
| id|name|last_name|    mo|country|
+---+----+---------+------+-------+
|  1|   a|        z|777700|  India|
|  2|   b|        y|  9890|  India|
+---+----+---------+------+-------+

In [21]:
df2.dtypes

[('id', 'int'),
 ('name', 'string'),
 ('last_name', 'string'),
 ('mo', 'int'),
 ('country', 'string')]

In [22]:
shem_list=['id','name','last_name','mobile_number','country']
df3=spark.createDataFrame(data2,shem_list)
df3.show()

+---+----+---------+-------------+-------+
| id|name|last_name|mobile_number|country|
+---+----+---------+-------------+-------+
|  1|   a|        z|       777700|  India|
|  2|   b|        y|         9890|  India|
+---+----+---------+-------------+-------+

In [23]:
df3.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- mobile_number: long (nullable = true)
 |-- country: string (nullable = true)

In [25]:


users=[{'id':1,'fname':'a','amt_paid':1000},{'id':2,'fname':'b','amt_paid':1200}] #json file format

df4=spark.createDataFrame(users)

df4.show() #table has columns arranged in ascending order

+--------+-----+---+
|amt_paid|fname| id|
+--------+-----+---+
|    1000|    a|  1|
|    1200|    b|  2|
+--------+-----+---+

In [30]:
df=spark.read.csv('emp.csv')

In [31]:
df.show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|       _c0|   _c1|       _c2|            _c3|   _c4|    _c5|              _c6|                 _c7|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
|   Douglas|  Male|  8/6/1993|       12:42 PM| 97308|  6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|
|     Maria|Female| 4/23/1993|       11:17 AM|130590| 11.858|            false|             Finance|
|     Jerry|  Male|  3/4/2005|        1:00 PM|138705|   9.34|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|101004|  1.389|             true|     Client Services|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|      Ruby|Female| 8/17/1987|        4:20 PM| 65476| 10.012|             true|             Product|
|      null|Female| 7/20/2015|       10:43 AM| 45906| 11.598|             null|             Finance|
|    Angela|Female|11/22/2005|        6:29 AM| 95570| 18.523|             true|         Engineering|
|   Frances|Female|  8/8/2002|        6:51 AM|139852|  7.524|             true|Business Development|
|    Louise|Female| 8/12/1980|        9:01 AM| 63241| 15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male| 12/1/1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|  6/5/2016|        6:09 AM| 59414|  1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male| 12/7/1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [33]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)

In [34]:
df=spark.read.option("header",True).csv("emp.csv")

In [35]:
df.show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|   Douglas|  Male|  8/6/1993|       12:42 PM| 97308|  6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|
|     Maria|Female| 4/23/1993|       11:17 AM|130590| 11.858|            false|             Finance|
|     Jerry|  Male|  3/4/2005|        1:00 PM|138705|   9.34|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|101004|  1.389|             true|     Client Services|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|      Ruby|Female| 8/17/1987|        4:20 PM| 65476| 10.012|             true|             Product|
|      null|Female| 7/20/2015|       10:43 AM| 45906| 11.598|             null|             Finance|
|    Angela|Female|11/22/2005|        6:29 AM| 95570| 18.523|             true|         Engineering|
|   Frances|Female|  8/8/2002|        6:51 AM|139852|  7.524|             true|Business Development|
|    Louise|Female| 8/12/1980|        9:01 AM| 63241| 15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male| 12/1/1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|  6/5/2016|        6:09 AM| 59414|  1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male| 12/7/1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [36]:
df=spark.read.option("header",True).option("inferschema",True).csv('emp.csv')
df.printSchema() #all datatypes are not strings

root
 |-- First Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Start Date: string (nullable = true)
 |-- Last Login Time: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Bonus %: double (nullable = true)
 |-- Senior Management: boolean (nullable = true)
 |-- Team: string (nullable = true)

In [37]:
df.select("First Name","Gender").show()

+----------+------+
|First Name|Gender|
+----------+------+
|   Douglas|  Male|
|    Thomas|  Male|
|     Maria|Female|
|     Jerry|  Male|
|     Larry|  Male|
|    Dennis|  Male|
|      Ruby|Female|
|      null|Female|
|    Angela|Female|
|   Frances|Female|
|    Louise|Female|
|     Julie|Female|
|   Brandon|  Male|
|      Gary|  Male|
|  Kimberly|Female|
|   Lillian|Female|
|    Jeremy|  Male|
|     Shawn|  Male|
|     Diana|Female|
|     Donna|Female|
+----------+------+
only showing top 20 rows

In [38]:
df.select("First Name".alias("forename"))

AttributeError: 'str' object has no attribute 'alias'

In [39]:
from pyspark.sql.functions import col

In [40]:
df.select(col("First Name").alias("forename")).show()

+--------+
|forename|
+--------+
| Douglas|
|  Thomas|
|   Maria|
|   Jerry|
|   Larry|
|  Dennis|
|    Ruby|
|    null|
|  Angela|
| Frances|
|  Louise|
|   Julie|
| Brandon|
|    Gary|
|Kimberly|
| Lillian|
|  Jeremy|
|   Shawn|
|   Diana|
|   Donna|
+--------+
only showing top 20 rows

In [41]:
df.select("First Name", col("Gender"),df["Team"]).show()

+----------+------+--------------------+
|First Name|Gender|                Team|
+----------+------+--------------------+
|   Douglas|  Male|           Marketing|
|    Thomas|  Male|                null|
|     Maria|Female|             Finance|
|     Jerry|  Male|             Finance|
|     Larry|  Male|     Client Services|
|    Dennis|  Male|               Legal|
|      Ruby|Female|             Product|
|      null|Female|             Finance|
|    Angela|Female|         Engineering|
|   Frances|Female|Business Development|
|    Louise|Female|                null|
|     Julie|Female|               Legal|
|   Brandon|  Male|     Human Resources|
|      Gary|  Male|               Sales|
|  Kimberly|Female|             Finance|
|   Lillian|Female|             Product|
|    Jeremy|  Male|     Human Resources|
|     Shawn|  Male|             Product|
|     Diana|Female|     Client Services|
|     Donna|Female|             Product|
+----------+------+--------------------+
only showing top 20 rows

In [42]:
df.withColumnRenamed('First Name', 'forename').show()

+--------+------+----------+---------------+------+-------+-----------------+--------------------+
|forename|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+--------+------+----------+---------------+------+-------+-----------------+--------------------+
| Douglas|  Male|  8/6/1993|       12:42 PM| 97308|  6.945|             true|           Marketing|
|  Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|
|   Maria|Female| 4/23/1993|       11:17 AM|130590| 11.858|            false|             Finance|
|   Jerry|  Male|  3/4/2005|        1:00 PM|138705|   9.34|             true|             Finance|
|   Larry|  Male| 1/24/1998|        4:47 PM|101004|  1.389|             true|     Client Services|
|  Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|    Ruby|Female| 8/17/1987|        4:20 PM| 65476| 10.012|             true|             Product|
|    null|Female| 7/20/2015|       10:43 AM| 45906| 11.598|             null|             Finance|
|  Angela|Female|11/22/2005|        6:29 AM| 95570| 18.523|             true|         Engineering|
| Frances|Female|  8/8/2002|        6:51 AM|139852|  7.524|             true|Business Development|
|  Louise|Female| 8/12/1980|        9:01 AM| 63241| 15.132|             true|                null|
|   Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
| Brandon|  Male| 12/1/1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|    Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
| Lillian|Female|  6/5/2016|        6:09 AM| 59414|  1.256|            false|             Product|
|  Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|   Shawn|  Male| 12/7/1986|        7:45 PM|111737|  6.414|            false|             Product|
|   Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|   Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
+--------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [43]:
df.select(col("First Name").alias("forename"),"*").show()

+--------+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|forename|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+--------+----------+------+----------+---------------+------+-------+-----------------+--------------------+
| Douglas|   Douglas|  Male|  8/6/1993|       12:42 PM| 97308|  6.945|             true|           Marketing|
|  Thomas|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|
|   Maria|     Maria|Female| 4/23/1993|       11:17 AM|130590| 11.858|            false|             Finance|
|   Jerry|     Jerry|  Male|  3/4/2005|        1:00 PM|138705|   9.34|             true|             Finance|
|   Larry|     Larry|  Male| 1/24/1998|        4:47 PM|101004|  1.389|             true|     Client Services|
|  Dennis|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|    Ruby|      Ruby|Female| 8/17/1987|        4:20 PM| 65476| 10.012|             true|             Product|
|    null|      null|Female| 7/20/2015|       10:43 AM| 45906| 11.598|             null|             Finance|
|  Angela|    Angela|Female|11/22/2005|        6:29 AM| 95570| 18.523|             true|         Engineering|
| Frances|   Frances|Female|  8/8/2002|        6:51 AM|139852|  7.524|             true|Business Development|
|  Louise|    Louise|Female| 8/12/1980|        9:01 AM| 63241| 15.132|             true|                null|
|   Julie|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
| Brandon|   Brandon|  Male| 12/1/1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|    Gary|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|Kimberly|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
| Lillian|   Lillian|Female|  6/5/2016|        6:09 AM| 59414|  1.256|            false|             Product|
|  Jeremy|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|   Shawn|     Shawn|  Male| 12/7/1986|        7:45 PM|111737|  6.414|            false|             Product|
|   Diana|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|   Donna|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
+--------+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [45]:
from pyspark.sql.functions import *

In [46]:
df.select(concat("Start Date","Last Login Time")).show()

+-----------------------------------+
|concat(Start Date, Last Login Time)|
+-----------------------------------+
|                   8/6/199312:42 PM|
|                   3/31/19966:53 AM|
|                  4/23/199311:17 AM|
|                    3/4/20051:00 PM|
|                   1/24/19984:47 PM|
|                   4/18/19871:35 AM|
|                   8/17/19874:20 PM|
|                  7/20/201510:43 AM|
|                  11/22/20056:29 AM|
|                    8/8/20026:51 AM|
|                   8/12/19809:01 AM|
|                  10/26/19973:19 PM|
|                   12/1/19801:08 AM|
|                  1/27/200811:40 PM|
|                   1/14/19997:13 AM|
|                    6/5/20166:09 AM|
|                   9/21/20105:56 AM|
|                   12/7/19867:45 PM|
|                 10/23/198110:27 AM|
|                   7/22/20103:48 AM|
+-----------------------------------+
only showing top 20 rows

In [48]:
df.select(concat("Start Date",lit(" & "),"Last Login Time")).show()

+----------------------------------------+
|concat(Start Date,  & , Last Login Time)|
+----------------------------------------+
|                     8/6/1993 & 12:42 PM|
|                     3/31/1996 & 6:53 AM|
|                    4/23/1993 & 11:17 AM|
|                      3/4/2005 & 1:00 PM|
|                     1/24/1998 & 4:47 PM|
|                     4/18/1987 & 1:35 AM|
|                     8/17/1987 & 4:20 PM|
|                    7/20/2015 & 10:43 AM|
|                    11/22/2005 & 6:29 AM|
|                      8/8/2002 & 6:51 AM|
|                     8/12/1980 & 9:01 AM|
|                    10/26/1997 & 3:19 PM|
|                     12/1/1980 & 1:08 AM|
|                    1/27/2008 & 11:40 PM|
|                     1/14/1999 & 7:13 AM|
|                      6/5/2016 & 6:09 AM|
|                     9/21/2010 & 5:56 AM|
|                     12/7/1986 & 7:45 PM|
|                    10/23/1981 & 10:2...|
|                     7/22/2010 & 3:48 AM|
+----------------------------------------+
only showing top 20 rows

In [50]:
df.select(concat("Start Date",lit(" & "),"Last Login Time").alias("datetime")).show()

+--------------------+
|            datetime|
+--------------------+
| 8/6/1993 & 12:42 PM|
| 3/31/1996 & 6:53 AM|
|4/23/1993 & 11:17 AM|
|  3/4/2005 & 1:00 PM|
| 1/24/1998 & 4:47 PM|
| 4/18/1987 & 1:35 AM|
| 8/17/1987 & 4:20 PM|
|7/20/2015 & 10:43 AM|
|11/22/2005 & 6:29 AM|
|  8/8/2002 & 6:51 AM|
| 8/12/1980 & 9:01 AM|
|10/26/1997 & 3:19 PM|
| 12/1/1980 & 1:08 AM|
|1/27/2008 & 11:40 PM|
| 1/14/1999 & 7:13 AM|
|  6/5/2016 & 6:09 AM|
| 9/21/2010 & 5:56 AM|
| 12/7/1986 & 7:45 PM|
|10/23/1981 & 10:2...|
| 7/22/2010 & 3:48 AM|
+--------------------+
only showing top 20 rows